body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button-container {
    text-align: center; /* Center align the container */
    padding: 20px; /* Add some padding around the buttons */
}

.center-button {
    display: inline-block; /* Align to the center */
}

.right-button {
  position: absolute; /* Position the right button absolutely within the container */
  right: 0; /* Align to the right */
  transform: translateY(-50%); /* Adjust vertical alignment */
}

.pre_img{
  height: 600px;
  width: 600px;
  /* background-color: white; */
}



#pre{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 10px 40px;
}

p{
  margin: 50px;
  font-size: 72px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.table-container {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: black;
}

th {
    background-color: #4CAF50;
    color: white;
}



.column {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  background-color:#282c34;
}

.image-box {
    height: 150px;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #ddd;
    overflow: hidden;
    position: relative;
}

.box-label {
  position: absolute;
  bottom: 0;
  right: 0; /* Align to the right */
  margin: 0;
  padding: 5px;
  background-color: #333;
  color: white;
}
.processed-image {
  max-width: 200px;  /* or any specific width */
  max-height: 150px; /* maintains the aspect ratio */
}
/* ===================== */
.header {
  width: 100%;
  background: linear-gradient(rgba(0, 101, 254, 0.16), rgba(195, 219, 255, 1));
  padding: 20px;
  height: 50px;
  display: flex;
  align-items: center;
}
.project-info-head {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: auto;
}
#UIT_text{
  font-weight: bold;
}
#IdentifyContainerErrors_text{
  font-size: 30px;
  font-weight: bold;
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 255, 178, 1), rgba(0, 164, 207, 1), rgba(0, 10, 255, 1));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.footer {
  height: 70px;
  display: flex;
  align-items: center;
  width: 100%;
  background: rgba(70, 70, 70, 1);
}
.CE-info-foot{
  display: flex;
  align-items: center;
  margin-left: 300px;
  margin-right: auto;
}
.CE-info-foot-text{
  margin-left: 10px;
}
#CE-text{
  font-size: 40px;
  font-weight: bold;
  position: relative;
  top: -5px;
  background: linear-gradient(to bottom, rgba(0, 135, 71, 1), rgba(23, 156, 8, 0.9609), rgba(17, 255, 41, 0.75), rgba(255, 230, 0, 1));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
#yellow-line {
  width: 140px;        
  height: 2px;        
  background-color: #FDCA69;
  position: relative;
  top: -10px;
}
#FacultyofComputerEngineering_text{
  font-size: 10px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: -5px;
}
#UIT-VNUHCM_text{
  font-size: 10px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: -5px;
}
.UIT-info-foot{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  color: rgba(255, 255, 255, 1);
}
#DHCNTT_text{
  font-size: 15px;
}
#DHQGHCM_text, #COPYRIGHT_text{
  font-size: 10px;
}
.UIT-contact{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 300px;
}
.icon{
  display: flex;
  flex-direction: column;
  line-height: 20px;
}
.UIT-contact_text{
  margin-left: 10px;
  color: rgba(255, 255, 255, 1);
}