<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='history.css') }}">
    <title>History Page</title>
</head>
<body>
    <div class="header">
        
        <div class="project-info-head">
            <div class="project-info-head-text">
                <div id="UIT_text">University of Information Technology - VNUHCM</div>
                <div id="IdentifyContainerErrors_text">Identify container errors</div>
            </div>
        </div>
    
    
    
      </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in data %}
                    <tr>
                        <td>{{ entry['ID'] }}</td>
                        <td>{{ entry['time'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="footer">

        <div class="CE-info-foot">
            <div class="CE-info-foot-text">
                <div id="CE-text">CE</div>
                <div id="yellow-line"></div>
                <div id="FacultyofComputerEngineering_text">Faculty of Computer Engineering</div>
                <div id="UIT-VNUHCM_text">UIT - VNUHCM</div>
            </div>
        </div>
        
        
        <div class="UIT-info-foot">
            <div id="DHCNTT_text">TRƯỜNG ĐẠI HỌC CÔNG NGHỆ THÔNG TIN</div>
            <div id="DHQGHCM_text">ĐẠI HỌC QUỐC GIA THÀNH PHỐ HỒ CHÍ MINH</div>
            <div id="COPYRIGHT_text">© COPYRIGHT  UITFarmer - CE 2023.</div>
        </div>
      
        <div class="UIT-contact">
            
            <div class="UIT-contact_text">
                <div id="address">KP6, Linh Trung, Thủ Đức, Tp.HCM</div>
                <div id="team-mail">UITFarmer.K15@gmail.com</div>
            </div>
        </div>
      </div>
</body>
</html>
