
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NHAN DIEN LOI CONTAINER</title>
	<link rel="stylesheet" type="text/css" href="../static/index.css">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script type="text/javascript" src="../static/index.js"></script>
  
</head>
<body>
  <div class="header">
        
    <div class="project-info-head">
        <div class="project-info-head-text">
            <div id="UIT_text">University of Information Technology - VNUHCM</div>
            <div id="IdentifyContainerErrors_text">Identify container errors</div>
        </div>
    </div>



  </div>


<div class='App'>
    <header class='App-header'>
        <p><b>
          NHAN DIEN LOI CONTAINER
        </b></p>
	    
	</header>
</div>

<div class="column">
    <div class="image-box" id="image-box-1">
        <p class="box-label">Mặt cửa</p>
        <input type="file" name="image1" onchange="readUrl(this, 1)">
        <div id="preview-image-box-1"></div>
    </div>
    <div class="image-box" id="image-box-4">
        <p class="box-label">Mặt sau</p>
        <input type="file" name="image4" onchange="readUrl(this, 4)">
        <div id="preview-image-box-4"></div>
    </div>
</div>
<div class="column">
    <div class="image-box" id="image-box-2">
        <p class="box-label">Mặt trái</p>
        <input type="file" name="image2" onchange="readUrl(this, 2)">
        <div id="preview-image-box-2"></div>
    </div>
    <div class="image-box" id="image-box-5">
        <p class="box-label">Mặt trên</p>
        <input type="file" name="image5" onchange="readUrl(this, 5)">
        <div id="preview-image-box-5"></div>
    </div>
</div>
<div class="column">
    <div class="image-box" id="image-box-3">
        <p class="box-label">Mặt phải</p>
        <input type="file" name="image3" onchange="readUrl(this, 3)">
        <div id="preview-image-box-3"></div>
    </div>
    <div class="image-box" id="image-box-6">
        <p class="box-label">Mặt dưới</p>
        <input type="file" name="image6" onchange="readUrl(this, 6)">
        <div id="preview-image-box-6"></div>
    </div>
</div>

<div class="table-container">
  <table>
      <thead>
          <tr>
              <th>Header 1</th>
              <th>Thong tin Container</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>ID</td>
              <td id ="ID"></td>
          </tr>
          <tr>
              <td>Date</td>
              <td id ="time"></td>
          </tr>
          <tr>
              <td>PASS</td>
              <td>YES</td>
          </tr>
      </tbody>
  </table>
</div>
<div class='button-container'>
    <button name="send" id="sendbutton" class="center-button">Send</button>
    <button name="log" id="logbutton" class="right-button">Log</button>
</div>
<div class="footer">

  <div class="CE-info-foot">
      <div class="CE-info-foot-text">
          <div id="CE-text">CE</div>
          <div id="yellow-line"></div>
          <div id="FacultyofComputerEngineering_text">Faculty of Computer Engineering</div>
          <div id="UIT-VNUHCM_text">UIT - VNUHCM</div>
      </div>
  </div>
  
  
  <div class="UIT-info-foot">
      <div id="DHCNTT_text">TRƯỜNG ĐẠI HỌC CÔNG NGHỆ THÔNG TIN</div>
      <div id="DHQGHCM_text">ĐẠI HỌC QUỐC GIA THÀNH PHỐ HỒ CHÍ MINH</div>
      <div id="COPYRIGHT_text">© COPYRIGHT  UITFarmer - CE 2023.</div>
  </div>

  <div class="UIT-contact">
      
      <div class="UIT-contact_text">
          <div id="address">KP6, Linh Trung, Thủ Đức, Tp.HCM</div>
          <div id="team-mail">UITFarmer.K15@gmail.com</div>
      </div>
  </div>
</div>
</body>
</html>